@page "/"
@using BlazorDemo.Shared.Data

<PageTitle>Index</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>This is weather from an open api call (no authentication required).</p>
            <p>
                @foreach (var weather in _weatherSummary)
                {
                    <span class="me-3">
                        <i class="fa-solid fa-@weather"></i>
                    </span>
                }
            </p>
        </div>

        <div class="col">
            <p>There gets a random color from an authenticated api endpoint.</p>
            <div style="width: 20px; height: 20px; background-color: @_color;"></div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <MainChat></MainChat>
        </div>
    </div>
</div>

@code {
    private bool _isSignedIn;
    private List<string> _weatherSummary = new();
    private string _color = "white";

    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    [Inject] private IAuthenticatedClient AuthenticatedClient { get; set; } = default!;

    [Inject] private IUnauthenticatedClient UnauthenticatedClient { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        _isSignedIn = authenticationState.User.Identity is { IsAuthenticated: true };

        if (_isSignedIn) await GetAuthenticatedColorAsync();

        await GetUnauthenticatedWeatherAsync();
    }

    private async Task GetAuthenticatedColorAsync()
    {
        _color = await AuthenticatedClient.GetAsync();
    }

    private async Task GetUnauthenticatedWeatherAsync()
    {
        var weather = await UnauthenticatedClient.GetAsync();
        _weatherSummary = weather.Select(x => x.Summary).ToList();
    }

}